<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('pizza')}"></head>

<body>

	<header th:insert="~{fragments/fragments :: navbar('show')}"></header>

	<main class="container text-center">

		<div class="py-3">
			<h1 th:text="'Descrizione della pizza ' + ${pizza.name}"></h1>
		</div>

		<div class="py-3">
			<h2>Lorem Pizzum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut
				labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut
				aliquid ex ea commodi consequatur.
				Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
				sint obcaecat cupiditat non proident,
				sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>
		</div>

	</main>

	<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>

</body>

</html>